// colors
$color-bg: #2C2C2C;
$color-accent: #00EAFF;
$color-font: #F1F1F1;

//font
$font-main: 'Roboto Condensed', sans-serif;
$font-weight-reg: 400;
$font-size-base-desktop: 16px;
$font-size-base-mobile: 14px;

$font-size-desktop-48: 3rem;
$font-size-desktop-32: 2rem;
$font-size-desktop-20: 1.25rem;
$font-size-desktop-16: 1rem;

$font-size-mobile-32: 2.286rem;
$font-size-mobile-20: 1.429rem;
$font-size-mobile-16: 1.143rem;
$font-size-mobile-14: 1rem;

$border-radius: 10px;