@import '../../../styles/abstract/variables';
@import '../../../styles/abstract/mixins';

.about {
    margin-block-start: $spacing-mobile-60;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include desktop {
        margin-block-start: $spacing-desktop-120;
    }

    &__title {
        text-align: center;
        color: $color-accent;
        font-size: $font-size-mobile-20;
        font-weight: $font-weight-reg;
        margin-block-end: $spacing-mobile-30;

        @include desktop {
            font-size: $font-size-desktop-32;
            margin-block-end: $spacing-desktop-60;
        }
    }

}