@import '../../../styles/abstract/variables';

.navigation {
    &__divider {
        border: none;
        height: 1px;
        background-color: $color-accent;
        // margin-block-start: 6px;
        // margin-block-end: 10.5px;
    }
}